  article > a {
    font-weight: bold;
  }

  a.button { 
    width: 250px; 
    height: 25px; 
    display: inline-block; 
    border: 1px solid black; 
    background-color:blue; 
    transition: color 0.1s linear; 
    color:white;
  } 
  a.button:hover{ 
    background-color:magenta; 
  } 
    
  a.button:active {
    background-color: yellow; 
    color: black;
  }
  h1 {
     font-size: 22px;
     text-align: center;
   }
   #italic {
    font-style: italic;
   }
   #h {
    text-align: center;
   }
   article {
    font-size: 120%;
   }
   article > h3 {
    font-size: 120%;
   }
   #up {
    text-transform: uppercase;
   }
   article {
    margin-bottom: 10px;
    height: max-content;
   }
   .contein {
    padding: 5px;
    background-color: whitesmoke;
    border: 1px solid black;
   }

   .padd {
    padding: 10px;
    padding-left: -5px;
    margin-left: -10px;
   }
   .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }
   .block{
    padding: 10px;
   }
   @media (min-width: 992px){
    .col-lg-1 { 
    width: 8.33%; 
    } 
    .col-lg-2 { 
    width: 16.66%; 
    } 
    .col-lg-3 { 
    width: 25%; 
    } 
    .col-lg-4 { 
    width: 33.33%; 
    } 
    .col-lg-5 { 
    width: 41.66%; 
    } 
    .col-lg-6 { 
    width: 50%; 
    } 
     
    .col-lg-7 { 
    width: 58.33%; 
    } 
    .col-lg-8 { 
    width: 66.66%; 
    } 
    .col-lg-9 { 
    width: 75%; 
    } 
    .col-lg-10 { 
    width: 83.33%; 
    } 
    .col-lg-11 { 
    width: 91.66%; 
    } 
    .col-lg-12 { 
    width: 100%; 
    } 
    .contein {
      height: 230px;
    }
} 
@media (min-width: 768px) and (max-width: 992px) {
    .col-md-1 { 
    width: 8.33%; 
    } 
    .col-md-2 { 
    width: 16.66%; 
    } 
    .col-md-3 { 
    width: 25%; 
    } 
    .col-md-4 { 
    width: 33.33%; 
    } 
    .col-md-5 { 
    width: 41.66%; 
    } 
    .col-md-6 { 
    width: 50%; 
    } 
    .col-md-7 { 
    width: 58.33%; 
    } 
    .col-md-8 { 
    width: 66.66%; 
    } 
    .col-md-9 { 
    width: 75%; 
    } 
    .col-md-10 { 
    width: 83.33%; 
    } 
    .col-md-11 { 
    width: 91.66%; 
    } 
    .col-md-12 { 
    width: 100%; 
    } 
        .contein {
      height: 200px;
    }
} 
@media (max-width: 768px) { 
    .col-sd-1 { 
    width: 8.33%; 
    } 
    .col-sd-2 { 
    width: 16.66%; 
    } 
    .col-sd-3 { 
    width: 25%; 
    } 
    .col-sd-4 { 
    width: 33.33%; 
    } 
    .col-sd-5 { 
    width: 41.66%; 
    } 
    .col-sd-6 { 
    width: 50%; 
    } 
    .col-sd-7 { 
    width: 58.33%; 
    } 
    .col-sd-8 { 
    width: 66.66%; 
    } 
    .col-sd-9 { 
    width: 75%; 
    } 
    .col-sd-10 { 
    width: 83.33%; 
    } 
    .col-sd-11 { 
    width: 91.66%; 
    } 
    .col-sd-12 { 
    width: 100%; 
    } 
            .contein {
      height: 200px;
    }
}