     ul  li:nth-child(odd) { 
       background-color: gray; 
     } 
       ul  li:nth-child(even) { 
       background-color: white; 
     } 

     ol :nth-child(3):hover{ 
       cursor: pointer; 
     } 
     ol :nth-child(5):hover{ 
       cursor: pointer; 
     } 
     ol :nth-child(4):hover{ 
       background-color: antiquewhite; 
     } 
     h1 {
       font-size: 22px;
       text-align: center;
     }
     a {
      font-style: italic;
     }
     h2 {
      text-align: center;
     }
     .contein {
      
     }